.containerModal {
	background: rgba(
		255,
		255,
		255,
		0.1
	); /* Couleur de fond avec opacité */
	backdrop-filter: blur(10px); /* Effet de flou */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999; /* Assurez-vous que l'arrière-plan flou est au-dessus du contenu */
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background: #157;
}

.modal__button {
	positon: relative;
	botom: 0;
	background: #359;
	float: right;
	padding: 0.5rem;
	color: #fff;
	border: solid 2px #359;
}
