.container__user {
	margin-top: 20vh;
}
table {
	width: 80%;

	border: 2px solid theme(colors.brown);
}
th {
	padding: 1.5rem;
	text-align: start;
}

td {
	border-top: 2px solid theme(colors.brown);
	padding: 0.5rem;
}
